// $color-background: #3f3f3f;
// // fff7eb

// $color-primary: #199433;
// $color-secondary:  #e74949;
// $color-text-primary: #fff;
// $color-text-secondary:#ccc;






$color-background: #efefea;
// fff7eb

$color-primary: #199433;
$color-secondary:  #e74949;
$color-text-primary: #222;
$color-text-secondary:#444;
