#pizza .preview {
	position: relative;
	/*width: 40em;*/
	height: unset;
	/*height: 40em;*/
	background: inherit;
}

#pizza .preview::after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

#pizza .preview > img {
	position: absolute;
}

#pizza .preview > img.full-size {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/*
#pizza .preview > img,
#pizza .preview .toppings {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#pizza .preview .topping-mask {
	border-radius: 100%;
	overflow: hidden;
}
*/
