.pizza {
  background-color: #ffffff;
  height: 50%;
  margin: auto;
  border: black solid;
  box-sizing: border-box;

}

.order {
  background-color: #ffffff;
  height: 20%;
  margin: auto;
  margin-top: 25px;
  border: black solid;
  box-sizing: border-box;
  padding:0.4em;

}

.total {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  margin: auto;
  margin-top: 10px;
  padding:0.4em;
  border: black solid;
  box-sizing: border-box;
}

.orderButton {
  display: block;
  margin: auto;
  margin-top: 5px;
}

@media only screen and (max-width: 500px) {
}
