@use 'options.scss';
@use 'rightLayout.scss';



button {
  cursor: pointer;
}
body::-webkit-scrollbar {
  display:none;
}


body {
  background-color: options.$color-background;
  width:100vw;
  height:100vh;
  padding:0;
  margin:0;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  font-family: 'Montserrat', sans-serif;
}

#pizza {
  display: grid;
  grid-template-columns: 1fr 22em;
  min-height:100vh;
  width:100%;
  position: relative;
}

.leftSide {
  width: 100%;
  position: relative;
  padding-top:3em;
  color:options.$color-text-primary;

}


.rightSide {
  position:fixed;
  top:0;
  right:0;
  width: 22em;
  height: 100%;
  padding:3em 3em 0 3em;
  border-left: 2px solid options.$color-accent;
  box-sizing: border-box;

}

.config-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border: 1px solid #000;
  box-sizing: border-box;

  p {
    text-transform: capitalize;
  }
  .config-radio-container {
    display: flex;
    .config-radio-group {
      display: flex;
      padding: 0 0.4em;
      .config-radio-div {
        display: flex;
        flex-direction: column;
        padding: 0 0.3em;
        color: options.$color-text-secondary;
        input {
          margin: auto;
        }
      }
    }
  }
}

.order {
  overflow-x: hidden;
}
.selection-container {
  overflow: hidden;
  height: 100%;
  transition: height 0.5s ease;
  &.hidden {
    height: 0;
  }
}

.config-menu {
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.4s ease;
  &.hidden {
    opacity: 0;
  }
}
.config-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.special-deal {
  font-weight: bold;
  font-size: 0.75em;
  background-color: #e74949;
  padding: 0.3em;
  border-radius: 7px;
  color: #fff;
  box-sizing: border-box;

}

@media only screen and (max-width: 500px) {
  #pizza {
    flex-direction: column-reverse;
  }

  .leftSide {
    width: 100%;
    border: none;
  }

  .rightSide {
    margin-bottom: 10px;
    width: 100%;
  }

  .order {
    font-size: 10px;
    margin-top: none;
  }

  .total {
    height: 10%;
  }

  .orderButton {
    margin-bottom: 10px;
    margin-left: 32px;
  }
}
