@use 'options.scss';
@use 'rightLayout.scss';

#pizza{
    display: flex;
    flex-direction: row;
    height: 720px;
}

.leftSide{
    width: 65%;
    height: 100%;
    // background-color: red;
}

.rightSide{
    width: 35%;
    height: 100%;
    background-color: green;
}