@use 'options.scss';
@use 'rightLayout.scss';

#pizza{
    display: flex;
    flex-direction: row;
    height: 720px;
}

.leftSide{
    width: 65%;
    height: 100%;
    // background-color: red;
}

.rightSide{
    width: 35%;
    height: 100%;
    background-color: green;
}

.config-row {
    width:100%;
    display: flex;
    justify-content: space-between;
    p {
        text-transform: capitalize;
    }
    .config-radio-container {
        display:flex;

        .radio-group {
            display:flex;
        }
    }
}