.btn-block {
  width: 90%;
  padding: 0.6em 0;
  text-align: center;
  background-color: #e74949;
  border-radius: 20px;
  font-size: 2em;
  font-weight: bolder;
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  .btn-block {
    height: 40px;
    margin: auto;
    font-size: 25px;
  }
}
.pizza {
  background-color: #ffffff;
  height: 50%;
  margin: auto;
  border: black solid;
  box-sizing: border-box;
}

.order {
  background-color: #ffffff;
  height: 20%;
  margin: auto;
  margin-top: 25px;
  border: black solid;
  box-sizing: border-box;
  padding: 0.4em;
}

.total {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  margin: auto;
  margin-top: 10px;
  padding: 0.4em;
  border: black solid;
  box-sizing: border-box;
}

.orderButton {
  display: block;
  margin: auto;
  margin-top: 5px;
}

button {
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #3f3f3f;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Montserrat", sans-serif;
}

#pizza {
  display: grid;
  grid-template-columns: 1fr 22em;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.leftSide {
  width: 100%;
  position: relative;
  padding-top: 3em;
  color: #fff;
}

.rightSide {
  position: fixed;
  top: 0;
  right: 0;
  width: 22em;
  height: 100%;
  padding: 3em 3em 0 3em;
  border-left: 2px solid #2a7e3c;
  box-sizing: border-box;
}

.config-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border: 1px solid #000;
  box-sizing: border-box;
}
.config-row p {
  text-transform: capitalize;
}
.config-row .config-radio-container {
  display: flex;
}
.config-row .config-radio-container .config-radio-group {
  display: flex;
  padding: 0 0.4em;
}
.config-row .config-radio-container .config-radio-group .config-radio-div {
  display: flex;
  flex-direction: column;
  padding: 0 0.3em;
  color: #ccc;
}
.config-row .config-radio-container .config-radio-group .config-radio-div input {
  margin: auto;
}

.order {
  overflow-x: hidden;
}

.selection-container {
  overflow: hidden;
  height: 100%;
  transition: height 0.5s ease;
}
.selection-container.hidden {
  height: 0;
}

.config-menu {
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.4s ease;
}
.config-menu.hidden {
  opacity: 0;
}

.config-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.special-deal {
  font-weight: bold;
  font-size: 0.75em;
  background-color: #e74949;
  padding: 0.3em;
  border-radius: 7px;
  color: #fff;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  #pizza {
    flex-direction: column-reverse;
  }

  .leftSide {
    width: 100%;
    border: none;
  }

  .rightSide {
    margin-bottom: 10px;
    width: 100%;
  }

  .order {
    font-size: 10px;
    margin-top: none;
  }

  .total {
    height: 10%;
  }

  .orderButton {
    margin-bottom: 10px;
    margin-left: 32px;
  }
}

/*# sourceMappingURL=styles.css.map */
